<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/lang https://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
     <!-- scope 預設 single(單一) -->
     <bean id="hello" scope="prototype"  class="com.spring.core.session01.beans.Hello"></bean>
     <bean id="lotto" scope="prototype"  class="com.spring.core.session02.beans.Lotto" />
     <bean id="lotto2" scope="singleton" class="com.spring.core.session02.beans.Lotto" />     
     <bean id="author1" scope="singleton"   class="com.spring.core.session02.beans.Author" />     
     <bean id="author2" scope="singleton"   class="com.spring.core.session02.beans.Author">
        <!-- 方法注入 -->
        <property name="name">
         <value>John</value>
        </property>
        <property name="sex">
         <value>M</value>
        </property>
        <property name="age">
         <value>18</value>
        </property>
     </bean>
     <bean id="author3" scope="singleton"   class="com.spring.core.session02.beans.Author">
       <!-- 建構子注入 -->
       <constructor-arg index="0" value="Mary"></constructor-arg>
       <constructor-arg index="1" value="M"></constructor-arg>
       <constructor-arg index="2" value="19"></constructor-arg>
     </bean>
     
     <!-- p 方法注入(簡寫) -->
     <bean id="author4" class="com.spring.core.session02.beans.Author" 
           p:name="Mary"  p:age="15"  p:sex="M" />
     
     <!-- c 建構子注入(簡寫) -->
     <bean id="author5" class="com.spring.core.session02.beans.Author" 
           c:name="Mary"  c:age="15"  c:sex="M" />      
     
     <!-- 無注入配置 -->
     <bean id="book1" class="com.spring.core.session02.beans.Book"></bean>
     
     <!-- ref 注入 -->
     <bean id="book2" class="com.spring.core.session02.beans.Book">
      <property name="name">
       <value>Java</value>
      </property>
      <property name="price">
       <value>150</value>
      </property>
      <property name="author" ref="author2">
      </property>
     </bean>
   <!-- 建構子注入 -->
   <bean id="book3" class="com.spring.core.session02.beans.Book">
    <constructor-arg index="0" value="Spring"></constructor-arg>
    <constructor-arg index="1" value="500"></constructor-arg>
    <constructor-arg index="2" ref="author3"></constructor-arg>
   </bean>    
   
   <bean id="book4" class="com.spring.core.session02.beans.Book" 
    p:name="Python" p:price="600" p:author-ref="author4" />       
   
   <bean id="book5" class="com.spring.core.session02.beans.Book" 
    c:name="Python" c:price="600" c:author-ref="author5" />       
          
 <!-- Paper, Color, Size -->
	<!-- 手動配置 Color, Size -->
	<bean id="white" class="com.spring.core.session02.beans.Color" p:name="白色" />
	<bean id="color" class="com.spring.core.session02.beans.Color" p:name="紅色" />
	<bean id="a4" class="com.spring.core.session02.beans.Size" p:name="A4" />
	<bean id="size" class="com.spring.core.session02.beans.Size" p:name="B3" />
	
	<!-- 自動配置 -->
	<!-- byType 的限制: 若超過1個可以匹配的型別就會發生錯誤 -->
	<!-- 
	<bean id="paper1" p:id="101" autowire="byType" class="com.spring.core.session02.beans.Paper" />
	-->
	<!-- byName 對應 class的物件名稱name -->
	<bean id="paper2" p:id="202" autowire="byName" class="com.spring.core.session02.beans.Paper" />
    <bean id="paper3" p:id="303" autowire="byName" class="com.spring.core.session02.beans.WhiteA4" />
	
	<!-- construstor -->
	<bean id="paper4" p:id="404" autowire="constructor" class="com.spring.core.session02.beans.Paper" />
   
    <!-- 引用外部資源 part I -->
    <!--  
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="data.properties" />
	</bean>
	-->
	
	<!-- 引用外部資源 part II -->
	<context:property-placeholder location="data.properties"/>
	<!-- 建立 Clazz 實例並使用外部資源來注入物件屬性資料 -->
	<bean id="clazz1"
		  p:id="1"
		  p:name="${clazz.name}"
		  p:credit="${clazz.credit}"	 
		  class="com.spring.core.session03.beans.Clazz" />
	
	<bean id="clazz2"
		  p:id="2"
		  p:name="English"
		  p:credit="2"	 
		  class="com.spring.core.session03.beans.Clazz" />
	
	<bean id="clazz3"
		  p:id="3"
		  p:name="Math"
		  p:credit="3"	 
		  class="com.spring.core.session03.beans.Clazz" />	
	
	<!-- 學生配置1 -->
	<bean id="student1" p:id="1" p:name="John" class="com.spring.core.session03.beans.Student">
	 <!-- Set 集合配置 -->
	  <property name="clazzs">
	   <set>
	    <ref bean="clazz1"/>
	    <ref bean="clazz2"/>
	    <ref bean="clazz3"/>
	   </set>
	  </property>
	</bean>
	
	<!-- 學生配置1 -->
	<bean id="student2" p:id="2" p:name="Mary" class="com.spring.core.session03.beans.Student">
	 <!-- Set 集合配置 -->
	  <property name="clazzs">
	   <set>
	    <ref bean="clazz1"/>
	    <ref bean="clazz3"/>
	   </set>
	  </property>
	</bean> 	    
	
	<!-- 講師配置 -->
	<bean id="teacher1" p:id="101" p:name="Bob" class="com.spring.core.session03.beans.Teacher">
	 <!-- Set 配置 -->
	 <property name="students">
	  <set>
	   <ref bean="student1"/>
	   <ref bean="student2"/>
	  </set>
	 </property>
	 
	 <!-- List 配置 -->
	 <property name="subjects">
	  <list>
	   <value>Program</value>
	   <value>English</value>
	  </list>
	 </property>
	 
	 <!-- Map 配置 (每一個元素 entry -> Key / Value) -->
	 <property name="salary">
	  <map>
	   <entry key="base">
	    <value>50000</value>
	   </entry>
	   <entry key="addition">
	    <value>20000</value>
	   </entry>
	  </map>
	 </property>
	</bean>
	
	<!-- 講師 2 配置(簡化配置 : util:set / util:list / util:map) -->
	<bean id="teacher2" p:id="202" p:name="Jean" p:students-ref="students" p:subjects-ref="subjects" p:salary-ref="salary" class="com.spring.core.session03.beans.Teacher"></bean>
	
	<util:set id="students">
	 <ref bean="student1"/>
	 <ref bean="student2"/>
	</util:set>
	
	<util:list id="subjects">
	 <value>Java</value>
	 <value>English</value>
	 <value>Math</value>
	</util:list>
	
	<util:map id="salary">
	 <entry>
	  <key>
	   <value>Base</value>
	  </key>
	  <value>20000</value>
	 </entry>
	 <entry>
	  <key>
	   <value>Addition</value>
	  </key>
	  <value>20000</value>
	 </entry>
	</util:map>
	
	<!-- init_method / destory_method 配置 -->
	<bean id="dbconn" init-method="init" destroy-method="destory" class="com.spring.core.session03.beans.DBConn"></bean>
    
    <!-- 利用 BeanFactory 建立實例 -->
    <bean id="carFactory" class="com.spring.core.session03.beans.CarFactory"></bean>

</beans>

