<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/lang https://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
     <!-- scope 預設 single(單一) -->
     <bean id="hello" scope="prototype"  class="com.spring.core.session01.beans.Hello"></bean>
     <bean id="lotto" scope="prototype"  class="com.spring.core.session02.beans.Lotto" />
     <bean id="lotto2" scope="singleton" class="com.spring.core.session02.beans.Lotto" />     
     <bean id="author1" scope="singleton"   class="com.spring.core.session02.beans.Author" />     
     <bean id="author2" scope="singleton"   class="com.spring.core.session02.beans.Author">
        <!-- 方法注入 -->
        <property name="name">
         <value>John</value>
        </property>
        <property name="sex">
         <value>M</value>
        </property>
        <property name="age">
         <value>18</value>
        </property>
     </bean>
     <bean id="author3" scope="singleton"   class="com.spring.core.session02.beans.Author">
       <!-- 建構子注入 -->
       <constructor-arg index="0" value="Mary"></constructor-arg>
       <constructor-arg index="1" value="M"></constructor-arg>
       <constructor-arg index="2" value="19"></constructor-arg>
     </bean>
     
     <!-- p 方法注入(簡寫) -->
     <bean id="author4" class="com.spring.core.session02.beans.Author" 
           p:name="Mary"  p:age="15"  p:sex="M" />
     
     <!-- c 建構子注入(簡寫) -->
     <bean id="author5" class="com.spring.core.session02.beans.Author" 
           c:name="Mary"  c:age="15"  c:sex="M" />      
     
          
</beans>
